<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
            <h2 class = "centered">View Jobs By Category</h2>
        </div>

        <table class="centeredTable">
            <tr>
                <th:block th:each="column : ${columns}"> <!--for each column in columns (list controller line 39 > line 21 > 25-29 ))  -->
                    <th th:text = "${column.value}"></th>
                </th:block>
            </tr>
            <tr>

                <td ><a th:href="@{/list/jobs(column='all', value = null)}">View all</a></td>
<!--next block creates the query param to search in employer, position, etc. click list in nav, then any other link to see it in action  -->
                <td th:each="category : ${tableChoices}"> <!--for each cat in tablechoices (list controller line 40 > line 22 > 31-34 )-->
                    <ul>
                        <li th:each="item : ${category.value}">
                            <a th:href="@{/list/jobs(column=${category.key},value=${item})}" th:text="${item}"></a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>

    </body>
</html>